body{
    margin: 0;
    padding: 0;
}
#heading{
    text-align: left;
    font-size: 2em;
    font-weight: bold;
    margin: 10px;
    color: crimson;
}

#color{
    float:right
    
}
#wrap{
    height: 100vh;
    width: 100vw;
    background-color: grey;
}
#container{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
#btn{
    color: white;
    background-color: black;
    border-radius: 5px;
    height: 50px;
    width: 100px;
}
